*.a
*.la
*.lo
*.m4
*.o
*.sw[po]
.deps
.dirstamp
.libs
ar-lib
Makefile
Makefile.in
Makefile.in
autom4te.cache/*
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
src/lexer-test
src/parser-test
