*.a
*.la
*.lo
*.m4
*.o
*.sw[po]
.deps
.dirstamp
.libs
ar-lib
Makefile
Makefile.in
Makefile.in
autom4te.cache/*
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
src/lexer-test
src/parser-test

CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

src/CTestTestfile.cmake
src/Testing/
src/double-conversion/double-conversionBuildTreeSettings.cmake
src/double-conversion/double-conversionConfig.cmake
src/double-conversion/double-conversionConfigVersion.cmake
src/double-conversion/double-conversionLibraryDepends.cmake

Testing/
test/CTestTestfile.cmake
test/Testing/

.ninja_deps
.ninja_log
build.ninja
rules.ninja

CMakeLists.txt.user
